{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Account{% endblock %} {% block page_content %}
<head>
    <title>ProPlan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Sacramento&display=swap" rel="stylesheet">


</head>
<body>
<div class="row pb-5 mb-5 text-center offset-3" style="font-family: 'Cormorant', serif;">
    <div class="col-md-4" >
        <h1  class="m-4 mb-4 p-2 ml-auto mr-auto rounded offset-3" style="background-color: #F7DDB5; width: 700px; font-size: 35px">Account Info</h1 >

        <div class="card"  style="box-shadow:3px 3px 4px 0px #8c8c8c; width:700px;">

            <div class="card-body text-center justify-content-center" style="font-size: 20px;">

                <div class="media">
                    <img class="rounded-circle account-img" style="width: 200px" src="{{ image_file }}">
                    <div class="media-body mt-5">
                        <h2 class="account-heading" style="font-size: 25px">{{ current_user.username }}</h2>
                        <p class="text-secondary">{{ current_user.email }}</p>
                    </div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"><h2>Update Account Info</h2></legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}

                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="form-group">
                        {{ form.picture.label() }}
                        <div class="offset-4">{{ form.picture(class="form-control-file") }}</div>
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group m-5">
                        {{ form.submit(class="btn btn-lg btn-info") }}
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>


</body>
{% endblock %}