{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}ProPlan{% endblock %} {% block page_content %}
<html>

<head>
    <title>ProPlan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Sacramento&display=swap" rel="stylesheet">


</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center p-5">

            <h1 style="font-family: 'Sacramento', cursive; font-size: 36px; display: inline; ">ProPlan </h1>
            <img class="mb-1" src="{{ url_for('static', filename='images/brand2.jpg') }}" style="height: 60px;" />
        </div>
    </div>


    <div class="container">
        <div class="row pb-5 mb-5 text-center justify-content-center" style="font-family: 'Cormorant', serif;">


            <div class="col-md-4" >
                <h1  class="m-4 mb-4 p-2 rounded" style="background-color: #F3C2BC; width: 218px;">This Year’s Goals</h1 >

                <div class="card"  style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">

                    <div class="card-body" style="font-size: 15px;">

                        <form action="/" METHOD="POST">
                            <br>
                            <input type="text" placeholder="Yearly Goal" name="yearlygoal">
                            <br>
                            <br>
                            <input type="submit" value="Add Goal" class="btn btn-info">
                        </form>

                        <br/>
                        {% for yearlygoal in yearlygoals %}
                        <li>
                            {{ yearlygoal.title }}
                            <a href="/delete/{{ yearlygoal.id }}" class="btn btn-default btn-sm">
                                 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                        </li>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h1 class="m-4 p-2 rounded" style="background-color: #AED6DC; width: 218px;">This Month’s Goals</h1>
                <div class="card"  style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">


                        <form action="/" METHOD="POST">
                            <br>
                            <input type="text" placeholder="Monthly Goal" name="monthlygoal">
                            <br>
                            <br>
                            <input type="submit" value="Add Goal" class="btn btn-info">
                        </form>

                        <br/>
                        {% for monthlygoal in monthlygoals %}
                        <li>
                            {{ monthlygoal.title }}
                            <a href="/delete2/{{ monthlygoal.id }}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4" >

                <h1 class="m-4 mb-4 p-2 rounded" style="background-color: #F7DDB5; width: 218px;">This Week’s Goals</h1>

                <div class="card" style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">

                    
                            <form action="/" METHOD="POST">
                                <br>
                                <input type="text " placeholder="Weekly Goal" name="weeklygoal">
                                <br>
                                <br>
                                <input type="submit" value="Add Goal" class="btn btn-info">
                            </form>
                        

                            <br/>
                            {% for weeklygoal in weeklygoals %}
                            <li>
                                {{ weeklygoal.title }}
                                <a href="/delete3/{{ weeklygoal.id }}" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                            </li>
                            {% endfor %}
                    </div>
                </div>

            </div>

        </div>

        <div class="row pt-5 pb-5 mt-5 text-center d-flex justify-content-center" style="font-family: 'Cormorant', serif;">

            <div class="col-3" >

                <h1 class="m-4 mb-4 p-2 rounded" style="background-color: #EAE2E1; width: 218px;">Weekly To-do</h1>

                <div class="card"  style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">

                        <div>
                            <form action="/" METHOD="POST">
                                <br>
                                <input type="text " placeholder="Weekly To-Do" name="weeklytodo">
                                <br>
                                <br>
                                <input type="submit" value="Add Task" class="btn btn-info">
                            </form>

                            <br/>
                            {% for weeklytodo in weeklytodos %}
                            <li>
                                {{ weeklytodo.title }}
                                <a href="/delete4/{{ weeklytodo.id }}" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                            </li>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" >

                <h1 class="m-4 mb-4 p-2 rounded" style="background-color: #EAE2E1; width: 218px;">Daily To-Do</h1>

                <div class="card"  style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">

                        <div>
                            <form action="/" METHOD="POST">
                                <br>
                                <input type="text " placeholder="Daily to-Do" name="dailytodo">
                                <br>
                                <br>
                                <input type="submit" value="Add Task" class="btn btn-info">
                                </form>

                                <br/>
                                {% for dailytodo in dailytodos %}
                                <li>
                                    {{ dailytodo.title }}
                                    <a href="/delete5/{{ dailytodo.id }}" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                                </li>
                                {% endfor %}
                                
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-3" >

                <h1 class="m-4 mb-4 p-2 rounded" style="background-color: #EAE2E1; width: 218px;">Future To-Do</h1>

                <div class="card" style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">

                        <div>
                        <form action="/" METHOD="POST">
                            <br>
                            <input type="text " placeholder="Task" name="futuretodo">
                            <br>
                            <br>
                            <input type="submit" value="Add Task" class="btn btn-info">

                            <br/>
                            {% for futuretodo in futuretodos %}
                            <li>
                                {{ futuretodo.title }}
                                <a href="/delete6/{{ futuretodo.id }}" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                            </li>
                            {% endfor %}
                        </form>
                        </div>

                        
                    </div>
                </div>

            </div>

            <div class="col-3" >

                <h1 class="m-4 mb-4 p-2 rounded" style="background-color: #EAE2E1; width: 218px;">Notes/Memos</h1>

                <div class="card" style="box-shadow:3px 3px 4px 0px #8c8c8c; height: 608px; width:243px;">
                    <div class="card-body" style="font-size: 15px;">

                        <div>
                            <form action="/" METHOD="POST">
                                <br>
                                <input type="text " placeholder="Add note" name="memo">
                                <br>
                                <br>
                                <input type="submit" value="Add note" class="btn btn-info">
                                </form>

                                <br/>
                                {% for memo in memos %}
                                <li>
                                    {{ memo.title }}
                                    <a href="/delete7/{{ memo.id }}" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </li>
                                </li>
                                {% endfor %}
                                
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>

</html>
{% endblock %}